.board-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    padding: 20px;
}

.game-board {
    display: grid;
    grid-template-columns: repeat(9, 80px);
    grid-template-rows: repeat(8, 80px);
    gap: 2px;
    background-color: black;
}

.tile {
    width: 80px;
    height: 80px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}

.piece-selection {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.pieces-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columns */
    gap: 5px; /* Adjust spacing between pieces */
    max-width: 270px;
    justify-items: center; /* Centers items within the grid cells */
}

.piece-image {
    width: 95%; /* Adjust size if needed */
    height: auto;
    cursor: grab;
}