@import url('https://fonts.googleapis.com/css2?family=UnifrakturCook:wght@700&display=swap');

.title {
    font-family: 'UnifrakturCook', cursive;
    font-size: 48px;
    color: white;
    margin-bottom: 20px;
    text-align: center;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #e6eef2;
    background: url('https://cdn.builder.io/api/v1/image/assets/TEMP/22f1b63660476b3583838e2006560d0eb1c4da0fa34c43f42de47994a2ea3c4a?placeholderIfAbsent=true&apiKey=495cfffe0c9a47b6b0144a560efce18c') no-repeat center center fixed;
    background-size: cover;
    background-position: center;
}

.analysis-tool-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 20px;
}

.board {
    display: grid;
    grid-template-columns: repeat(9, 60px);
    grid-template-rows: repeat(8, 60px);
    gap: 1px;
    background-color: #333;
    border: 5px solid #468494;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.cell {
    width: 65px;
    height: 61px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom, #ffffff, #dfe6e9); /* Soft shading */
    position: relative;
    font-size: 20px;
    cursor: pointer;
    border-radius: 4px;
    transition: all 0.3s ease;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
}

.cell:hover {
    background: #b2bec3; 
}

.cell.red {
    background: linear-gradient(to bottom, #ff5e57, #d63031);
    color: white;
    font-weight: bold;
}

.cell.blue {
    background: linear-gradient(to bottom, #0984e3, #074f80);
    color: white;
    font-weight: bold;
}

.probability-container {
    position: absolute; /* Fixes position */
    right: 350px; /* Moves it to the right side */
    top: 50%; /* Aligns it vertically */
    transform: translateY(-50%); /* Centers it */
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25%;
    background: black;
    color: white;
    font-size: 18px;
    font-weight: bold;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}

.buttons {
    margin-top: 20px;
    display: flex;
    gap: 20px;
}

.button {
    background-color: #4a7a8c;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #365d6b;
}

@media (max-width: 768px) {
    .board {
        grid-template-columns: repeat(9, 30px);
        grid-template-rows: repeat(8, 30px);
    }

    .cell {
        width: 30px;
        height: 30px;
        font-size: 16px;
    }

    .title {
        font-size: 36px;
    }

    .button {
        font-size: 14px;
        padding: 8px 16px;
    }
}